<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Components" Directory="INSTALLFOLDER">
      <Component>
        <File Source="GeneA.Desktop.exe"/>
        <Shortcut Name="GeneA" Directory="DesktopFolder" Advertise="true"/>
      </Component>
      <Component>
        <RegistryValue Root="HKCU" Key="SOFTWARE\Gene" Name="Private" Type="string" Value="76a002a9-950d-43f1-85ed-81c44ce66a6d"/>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>